# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
vendor*
tests*

README.md
README.md.bu
LICENSE
circle.yml
CHANGELOG.md
Makefile
docs*
scan_test.go
results.json

fsls-11.00.79-rtm.tar.gz
fsdbupdate9.run
